@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_master.cshtml";
}

<h2>Sobre</h2>

<p>A Cidade de Dite serve de divisão entre os pecados cometidos sem intenção (culpa) e os pecados cometidos conscientemente (dolo). </p>
<p>É cercada por fogo, fossos profundos e por muralhas de ferro, sobre as portas da cidade estão mais de mil anjos caídos. </p>
<p>No alto de uma torre estão as três Erinias (Megera, Aleto e Tisífone) enroladas em hidras e a Medusa.</p>
<p>Inicialmente os demônios não abrem a porta de Dite para Dante e Virgílio, então para auxiliá-los, </p>
<p>surge um anjo que chegou à porta e com uma varinha abriu-a, sem nenhuma oposição. A cidade contém um cemitério que abriga vários grupos hereges, </p>
<p>entre eles, aqueles que não acreditaram na existência de Deus e de Jesus Cristo como Seu Filho, como os seguidores das doutrinas de Epicuro, </p>
<p>que negava a sobrevivência da alma após a morte corporal, eles estão confinados em túmulos de fogo (já que em vida eles eram queimados em fogueiras) com as tampas levantadas, </p>
<p>em cada túmulo há mais de mil condenados. Em um dos túmulos está Farinata degli Uberti, um político florentino, neste mesmo túmulo está Frederico II e o Cardeal Ottaviano degli Ubaldini. </p>
<p>Logo depois dos muros da cidade há mais alguns túmulos, num deles está o Papa Anastácio II. </p>
<p>É descrito a partir da metade do Canto 8, que termina pouco depois que Dante e Virgílio chegam em Dite, </p>
<p>continua no canto 9 e no Canto 10, acabando no início do Canto 11.</p>